//Входные парамеры:
//    {
//        creator: {            // создатель заказа
//            avatar,
//            title,
//            category,
//            definition,
//            date,
//        },
//        userResponsed: {      // отклики пользователей
//            [
//                {
//                    avatar,
//                    login,
//                    rate,
//                    date,
//                }
//            ]
//        },
//        userMinResponse: {    // минимальный отклик по ставке
//            name,
//            rate,
//            date,
//        },
//        userRate: '1488',     // отклик текущего пользователя, если его сейчас нет - передавать  0 !!!!1
//
//    }
include rates/changeRate.pug
include rates/makeRate.pug
include responses/responseOrder

.root
    include navbars/navbarExecutor.pug
    .orderPage
        +orderInOrderPageExecutor(creator.avatar, creator.title, creator.category, creator.definition, creator.date, creator.budget)
        div(class='orderPage__comments')
            div(class='orderPage__responses')
                div(class='orderPage__comments_title') Отклики
                div(class='orderPage__responses_scroll')
                    each user in usersResponsed
                        responseOrder(user.avatar, user.login, user.rate, user.date)

                button(class='orderPage__comments_others') Показать ещё
            div(class='orderPage__rate')
                div(class='orderPage__comments_title') Минимальная ставка
                div(class='orderPage__response')
                    div(class='orderPage__response_img-bg')
                        img(class='orderPage__response_img' src=userMinResponse.avatar alt='')
                        div(class='orderPage__response_name')= userMinResponse.name
                    div(class='orderPage__response_stats')
                        div(class='orderPage__response_stat')
                            img(src='Icons/support.svg' alt='' class='orderPage__response_stat-img')
                            div(class='orderPage__response_stat-text') Сделаю за: #{userMinResponse.rate}
                        div(class='orderPage__response_stat')
                            img(src='Icons/date.svg' alt='' class='orderPage__response_stat-img')
                            div(class='orderPage__response_stat-text') Дата отклика #{userMinResponse.date}
                if #{userRate} !== 0
                    +makeRate
                else
                    +changeRate(#{userRate})
