div(class='profile-content')
    div(class='profile__column_text')
        div(class='name profile__item_name')
            p #{name}  [#{nickName}]
        div(class='profile__item_name')
        div(class='settings_profile_button profile__item_name')
            p
                img(class='icon', src='img/settings.png')
                a(href='/settings') Настройки
    div(class='profile__column_text')
        div(class='profile__item_name')
            figure
                img(class='profile_photo' src=profileImgUrl)
                figcaption
                    form(id="upload-container")
                        input(id="file-input" accept="image/jpeg" type="file" name="file")
                        label(for="file-input") Изменить фото
        div(class='profile__item_name')
            p(class='spec') Специализации:
            ul
                li #{specialize}
        div(class='profile__item_name')
            p(class='margin-inc')
                img(class='icon' src='img/reviews.png')
                span Отзывы
                a(href='#') #{reviews.all}
                a(href='#' class='good_reviews') #{reviews.good}
                a(href='#' class='bad_reviews') #{reviews.bad}
            p(class='margin-inc')
                img(class='icon' src='img/rate.png')
                span Рейтинг
                a(href='#') #{rating}
            p(class='margin-inc')
                img(class='icon' src='img/order.png')
                span Всего заказов
                a(href='#') #{totalOrders}
    p(class='profile__about') О себе
    div(class='profile__definition_text')
        p #{about}
