div(class='textcols')
    div(class='name textcols-item')
        p #{name}  [#{nickName}]
    div(class='textcols-item')
    div(class='settings textcols-item')
        p
            img(class='icon', src=settingImgUrl)
            a(href='#') Настройки
div(class='textcols')
    div(class='textcols-item')
        figure
            img(class='profile_photo' src=profileImgUrl)
            figcaption
                a(href='#') Изменить фото
    div(class='textcols-item')
        p(class='spec') Специализации:
        ul
            li #{specialize}
    div(class='textcols-item')
        p(class='margin-inc')
            img(class='icon' src=reviewsImgUrl)
            span Отзывы
            a(href='#') #{reviews.all}
            a(href='#' class='good_reviews') #{reviews.good}
            a(href='#' class='bad_reviews') #{reviews.bad}
        p(class='margin-inc')
            img(class='icon' src=rateImgUrl)
            span Рейтинг
            a(href='#') #{rating}
        p(class='margin-inc')
            img(class='icon' src=orderImgUrl)
            span Всего заказов
            a(href='#') #{totalOrders}
p(class='about') О себе
div(class='about-text')
    p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut non eaque veniam quisquam temporibus
        | nihil id tempora rerum, cumque, aliquid voluptatem nemo cum hic reiciendis obcaecati laudantium fuga
        | quia aperiam.
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat impedit cumque voluptate pariatur
        | ipsam expedita temporibus! Dolore inventore veritatis iusto quisquam, laboriosam soluta provident
        | aliquid illum, numquam similique ea voluptate.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugit accusamus aliquam enim
        | molestias voluptatem ipsa quam voluptatum quibusdam cupiditate, ex eius. Accusamus voluptate
        | veritatis laudantium similique cumque, numquam dolor.
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat eos unde dolores ab explicabo
        | eveniet dolorum voluptates quam nesciunt pariatur? Sit iste consectetur, harum ex commodi repellat
        | porro velit ut.
