div(class='profile-content')
    div(class='profile__column_text')
        div(class='name profile__item_name')
            p(class='profile__name') #{name}  [#{nickName}]
        div(class='settings_profile_button')
            p
                img(class='icon', src=require("@/static/img/settings.png").default)
                a(href='settings' data-title="Настройки") Настройки
    div(class='profile__column_text')
        div(class='profile__item_name')
            figure
                img(class='profile_photo' id='profile_img' src=profileImgUrl)
                figcaption
                    form(id="upload-container")
                        input(id="file-input" accept="image/jpeg" type="file" name="file")
                        label(for="file-input") Изменить фото
        if isExecutor
            div(class='profile__item_spec')
                p(class='spec') Специализации:
                ul
                    li #{specialize}
        div(class='profile__item_info')
            p(class='margin-inc')
                img(class='icon' src=require("@/static/img/reviews.png").default)
                span Отзывы
                a 25
                a(class='good_reviews') 20
                a(class='bad_reviews') 5
            p(class='margin-inc')
                img(class='icon' src=require("@/static/img/rate.png").default)
                span Рейтинг
                a 7
            p(class='margin-inc')
                img(class='icon' src=require("@/static/img/order.png").default)
                span Всего заказов
            div(class='profile__item_exit')
                p(class='margin-inc')
                    a(id="profile__exit_link") Выход
    p(class='profile__about') О себе
    div(class='profile__definition_text')
        if (about === undefined)
            p Вы еще не заполнили информацию о себе.
        else
            p #{about}
