mixin orderInOrdersPage(avatar, login, title, category, definition, date, budget, id)
    div(class='orders__order')
        div(class='orders__order_img-bg')
            img(class='orders__order_img' src=avatar)
            div(class='orders__order_nickname')= login
        div(class='orders__order_text')
            div(class='orders__order_title' name=id)= title
            div(class='orders__order_category')
                div(class='orders__order_category-text') Категория:
                button(class='orders__order_category-button')= category
            div(class='orders__order_definition')= definition
                span
                    a(class="orders__order_link" href="" name=id) ...more
            div(class='orders__order_stats')
                div(class='orders__order_stat')
                    img(class='orders__order_stat-img' src=require("@/static/img/iconTime.svg").default)
                    div(class='orders__order_stat-data')= date
                div(class='orders__order_stat')
                    img(class='orders__order_stat-img' src=require("@/static/img/card.svg").default)
                    div(class='orders__order_stat-data')= budget