include ../responses/responseVacancyCustomer
.orderPage
    div(class='orderPage__order')
        div(class='orderPage__order_img-bg')
            img(class='orderPage__order_img' src=creator.avatar?creator.avatar:require('@/static/img/profileAvatar.svg').default)
            div(class='orderPage__order_name')= creator.name
        div(class='orderPage__order_text')
            div(class='orderPage__order_title')= creator.title
            div(class='orderPage__order_category')
                div(class='orderPage__order_category-text') Категория:
                button(class='orderPage__order_category-button')= creator.category
            div(class='orderPage__order_definition')= creator.definition
            div(class='orderPage__order_stats')
                div(class='orderPage__order_stat')
                    img(class='orderPage__order_stat-img' src=require('@/static/img/card.svg').default)
                    div(class='orderPage__order_stat-data')= creator.salary
    if isExecutor
        form.custom-form
            div(class='orderPage__comments')
                textarea(class='vacancy-executor' placeholder='Ваш отклик')
            div(class="vacancy-executor__row")
                if isCreated
                    button(class='vacancy-executor__button_change') Создать

                else
                    button(class='vacancy-executor__button_change') Изменить
                    button(class='vacancy-executor__button_delete') Удалить
    else
        div(class='orderPage__comments')
            div(class='vacancyPage__responses')
                div(class='vacancyPage__comments_title')
                    | Отклики
                    each response in responses
                        -var flag = 1
                        +responseVacancy(response.avatar, response.login, response.definition)
                if flag
                    button(class='vacancyPage__comments_others') Показать ещё
                else
                    div(class="orderPage__no-comments") Пока никто не оставил отклик

