mixin responseVacancy(avatar, login, text, id, selectExecutor, isMy)
    div(class='orderPage__responses_scroll')
        div(class='vacancyPage__response vacancyPage__row')
            div(class='orderPage__response_img-bg')
                img(class='vacancyPage__response_img' src=avatar?avatar:require('@/static/img/profileAvatar.svg').default alt='' href=`/profile/${id}`)
                div(class='orderPage__response_name' href=`/profile/${id}`)= login
            div(class='vacancyPage__content')
                div(class='')
                    img(src=require('@/static/img/support.svg').default alt='' class="vacancyPage__supportImage")
                    textarea(class="vacancyPage__textArea" readonly)=text
                    //div(class='vacancyPage__comment-content')
                div(class='vacancyPage__comment-buttons')
                    if isMy && !selectExecutor
                        button(class='vacancyPage__comment-button_select' data-id=id) Выбрать
                        button(class='vacancyPage__comment-button_info' data-id-user=id) Информация об исполнителе
                        button(class='vacancyPage__comment-button_reviews') Отзывы об исполнителе
                        button(class='vacancyPage__comment-button_cancel') Отказать
                    else if selectExecutor.id === id
                        button(class='vacancyPage__comment-button_info' data-id-user=id) Информация об исполнителе
                        button(class='vacancyPage__comment-button_reviews') Отзывы об исполнителе
                        button(class='vacancyPage__comment-button_cancel') Отказать
                    else
                        button(class='vacancyPage__comment-button_info' data-id-user=id) Информация об исполнителе
                        button(class='vacancyPage__comment-button_reviews vacancyPage__otz') Отзывы об исполнителе
