mixin specialize(specName, isMyProfile)
    li
        img(src=require('@/static/img/check.svg').default alt='')
        div(class='specializes__name')= specName
        if isMyProfile
            img(src=require('@/static/img/close.svg').default alt='' class='specializes__close')

.profile
    div(class='profile__border')
        div(class='profile__content')
            .top
                div(class='top__avatar')
                    img(class='top__avatar_img' id='profile_img' src=!img?require('@/static/img/profileAvatar.svg').default:img)
                    if isMyProfile
                        .edit
                            form
                                input(type='file' id='input-file' accept="image/jpeg" name='file')
                                label(for='input-file')
                                    a.edit-button
                                        img(src=require('@/static/img/edit.svg').default alt='')
                div(class='top__item')
                    .user-name
                        span(class='user-name__text')= name
                    .nickname
                        div(class='nickname__icon')
                            img(src=require('@/static/img/dog.svg').default alt='')
                        div(class='nickname__text')= login
                div(class='top__item')
                    .rating-stat
                        div
                            img(src=require('@/static/img/stats.svg').default alt='')
                        div(class='rating-stat__text') Рейтинг: #{rating}
                    .reviews-stat
                        div
                            img(src=require('@/static/img/star1.svg').default alt='')
                        div(class='reviews-stat__text' style="cursor:pointer;" href=`/profile/${id}/reviews`) Отзывы: #{reviewsCount}
                    if !isExecutor
                        .reviews-stat
                            div
                                img(src=require('@/static/img/carousel.svg').default style="cursor:pointer;" alt='')
                            if isMyProfile

                                div(class='reviews-stat__text' style="cursor:pointer;" href=`/profile/${id}/orders`) Мои заказы
                            else
                                div(class='reviews-stat__text' style="cursor:pointer;" href=`/profile/${id}/orders`) Заказы
                        .reviews-stat
                            div
                                img(src=require('@/static/img/vacancy.svg').default style="cursor:pointer;" alt='')
                            if isMyProfile

                                div(class='reviews-stat__text' style="cursor:pointer;" href=`/profile/${id}/vacancies`) Мои вакансии
                            else
                                div(class='reviews-stat__text' style="cursor:pointer;" href=`/profile/${id}/vacancies`) Вакансии
                    .reviews-stat
                        div
                            img(src=require('@/static/img/document.svg').default style="cursor:pointer;" alt='')
                        div(class='reviews-stat__text' style="cursor:pointer;" href=`/profile/${id}/archive`) Архив
                div(class='top__item')
                    if isMyProfile
                        .settings-buttons
                            button(href='/settings' class='settings-buttion__text') Настройки
                            button(class='exit-buttion__text') Выход
            .bottom
                div(class='bottom__item')
                    .about-title О себе
                    if about
                        .about-text= about
                    else
                        .about-text= "Заполните информацию о себе."
                if isExecutor
                    div(class='bottom__item')
                        .specialize-title Специализации:
                        ul.specializes
                            each specName in specializes
                                +specialize(specName, isMyProfile)
                        if isMyProfile
                            .add-spec
                                img(src=require('@/static/img/plus.svg').default href='/add-spec' class='spec_button_add' alt='')
                                div(class='add-spec__text' href='/add-spec') Добавить
