mixin customFormMiniInputs(imgFirst, placeholderFirst, imgSecond, placeholderSecond, nameFirst, nameSecond, other)
    div(class='custom-form__input-mini_bg')
        div.custom-form__input-mini_flex
            div(class='custom-form__input-mini')
                img(class='custom-form__img' src=imgFirst alt='')
                input(class=`custom-form__input-mini_in form-control ${other}` type='password' placeholder=placeholderFirst name=nameFirst)
            div(class=" error")
                div(class="error__message")
                div(class="error__main")
                    div(class="error__box")
                        ul(class="error__list")
                            li(class= "error__help") &#8226 Пароль должен содержать хотя бы 1 цифру
                            li(class= "error__help") &#8226 Пароль должен содержать хотя бы 1 заглавную букву
                            li(class= "error__help") &#8226 Пароль должен быть не менее 8 символов
                            li(class= "error__help") &#8226 Пароль должен содержать буквы английского алфавита
                    div(class="error__arrow" id="arrow__password")
        div.custom-form__input-mini_flex
            div(class='custom-form__input-mini')
                img(class='custom-form__img' src=imgSecond alt='')
                input(class=`custom-form__input-mini_in form-control ${other}` type='password' placeholder=placeholderSecond name=nameSecond)
            div(class=" error")
                div(class="error__message")
                div(class="error__main")
                    div(class="error__box")

        div(class="error error__repeat_password")=""
