mixin customFormInput(img, placeholder, name, type, other)
    div(class='custom-form__input form-control')
        img(class='custom-form__img' src=img alt='')
        input(class=`custom-form__input_in form-control ${other}` type=type name=name placeholder=placeholder)
