mixin customFormInput(img, placeholder, name, type, other, value)
    div(class='custom-form__input')
        img(class='custom-form__img' src=img alt='')
        input(class=`custom-form__input_in form-control ${other}` type=type name=name value=value placeholder=placeholder)
