mixin settingsInput(img, placeholder, name, type, id)
    div(class='settings-form__input')
        img(class='custom-form__img' src=img alt='')
        input(class='custom-form__input_in form-control' type=type name=name id=id placeholder=placeholder)
